<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.png">
    <link rel="stylesheet" href="/static/vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="/static/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />



</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="/" class="brand-logo">
                <img class="logo-abbr" src="/static/images/logo.png" alt="">
                <img class="logo-compact" src="/static/images/logo-text.png" alt="">
                <img class="brand-title" src="/static/images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
                <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                <div class="dropdown-menu p-0 m-0">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">{{Lmail}} </span>
                                    </a>
                                    <a href="/" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Admin Features</li>
                    <li><a class="has-arrow" href="/chequeBookClearance" aria-expanded="false"><i class="fa-solid fa-money-check"></i><span class="nav-text">Cheque Book Clearance</span></a>
                    <li><a class="has-arrow" href="/fundtransfer/fundtransfer" aria-expanded="false"><i class="fa-solid fa-money-bill-transfer"></i><span class="nav-text">Fund Transfer</span></a>
                    <li><a class="has-arrow" href="/search" aria-expanded="false"><i class="fa-solid fa-database"></i><span class="nav-text">Search Queries</span></a>
                    <li><a class="has-arrow" href="/accblock" aria-expanded="false"><i class="fa-solid fa-lock"></i><span class="nav-text">Account Block</span></a>
                    <li><a class="has-arrow" href="/accunblock" aria-expanded="false"><i class="fa-solid fa-lock-open"></i><span class="nav-text">Account Un-Block</span></a>
                    <li><a class="has-arrow" href="/change" aria-expanded="false"><i class="fa-solid fa-gears"></i><span class="nav-text">Edit Account Details</span></a>
                    <li><a class="has-arrow" href="/new_account/<newacc_val>" aria-expanded="false"><i class="fa-solid fa-file-invoice"></i><span class="nav-text">Account Adding</span></a>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Cheque Book Clearnance</h4>
                            <span class="ml-1">Form</span>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Element</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-6 col-xxl-12">






                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Cheque Book Clearance</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">

                                    <form action="{{ url_for('chkVerify')}}" method="post">

                                            <label class="col-sm col-form-label"> <span style="color: red;">Key Not Verified.</span> Please re enter the form</label>
                                            <label class="col-sm-2 col-form-label"></label>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">From Account</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control" id="from" name="from" placeholder="A/c No" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">To Account</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control" id="to" name="to"  placeholder="A/c No" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="name" name="name"  placeholder="Name of receipient" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">IFSC</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="ifsc" name="ifsc"  placeholder="IFSC Code" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Cheque No</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="key" name="key"  placeholder="Key" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Amount</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control" id="amount" name="amount" placeholder="Amount to be transfered" required>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary">Verify</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-6 col-xxl-12">
                        <div class="card">
<!--                            <div class="card-header">-->
<!--                                <h4 class="card-title">Column size</h4>-->
<!--                            </div>-->
<!--                            <div class="card-body">-->
<!--                                <div class="basic-form">-->
<!--                                    <article>-->

<!--  <img class="figure-img img-fluid shadow rounded" src="{{img_path }}" alt="" title="Candidate Details"/>-->

<!--                                </div>-->
<!--                            </div>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->

<div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Project W</a> 2023</p>
                <p>Distributed by <a href="https://www.youtube.com/watch?v=0MxulhivCvI" target="_blank">Cs department</a></p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="static/vendor/global/global.min.js"></script>
    <script src="static/js/quixnav-init.js"></script>
    <script src="static/js/custom.min.js"></script>
    
</body>

</html>