<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Project W - Admin Side Home page </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/logo.png">
    <link rel="stylesheet" href="static/vendor/owl-carousel/css/owl.carousel.min.css">
    <link href="static/vendor/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <link href="static/vendor/chartist/css/chartist.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="static/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />



</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="static/images/logo.png" alt="">
                <img class="logo-compact" src="static/images/logo-text1.png" alt="">
                <img class="brand-title" src="static/images/logo-text1.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                <div class="dropdown-menu p-0 m-0">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">{{Lmail}} </span>
                                    </a>
                                    <a href="/" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Admin Features</li>
                    <li><a class="has-arrow" href="/chequeBookClearance" aria-expanded="false"><i class="fa-solid fa-money-check"></i><span class="nav-text">Cheque Book Clearance</span></a>
                    <li><a class="has-arrow" href="/fundtransfer/fundtransfer" aria-expanded="false"><i class="fa-solid fa-money-bill-transfer"></i><span class="nav-text">Fund Transfer</span></a>
                    <li><a class="has-arrow" href="/search" aria-expanded="false"><i class="fa-solid fa-database"></i><span class="nav-text">Search Queries</span></a>
                    <li><a class="has-arrow" href="/accblock" aria-expanded="false"><i class="fa-solid fa-lock"></i><span class="nav-text">Account Block</span></a>
                    <li><a class="has-arrow" href="/accunblock" aria-expanded="false"><i class="fa-solid fa-lock-open"></i><span class="nav-text">Account Un-Block</span></a>
                    <li><a class="has-arrow" href="/change" aria-expanded="false"><i class="fa-solid fa-gears"></i><span class="nav-text">Edit Account Details</span></a>
                    <li><a class="has-arrow" href="/new_account/new_account" aria-expanded="false"><i class="fa-solid fa-file-invoice"></i><span class="nav-text">Account Adding</span></a>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Welcome back {{Lmail}}!</h4>
                            <p class="mb-0">Bank Management</p>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Admin</a></li>
                        </ol>
                    </div>
                </div>
            <!-- row -->
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-one card-body">
                                <div class="stat-icon d-inline-block">
                                    <i class="fa-solid fa-indian-rupee-sign text-success border-success"></i>
                                </div>
                                <div class="stat-content d-inline-block">
                                    <div class="stat-text">Total Balance in Branch </div>
                                    <div class="stat-digit">{{balance}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-one card-body">
                                <div class="stat-icon d-inline-block">
                                    <i class="ti-user text-primary border-primary"></i>
                                </div>
                                <div class="stat-content d-inline-block">
                                    <div class="stat-text">Customer</div>
                                    <div class="stat-digit">{{lenC}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="card-title mb-4">Live Site Traffic</h4>
                                        <div class=""><span class="updating-chart">5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,7,3,5,2</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">

                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="year-calendar"></div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Transaction History</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table student-data-table m-t-20">
                                        <thead>
                                            <tr>
                                                <th>Expense Type</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                                <th>Receiver</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in y %}
                                            <tr>
                                                <td>{{i[0]}}</td>
                                                <td>₹{{i[1]}}</td>
                                                <td><span class="badge badge-primary">Paid</span></td>
                                                <td>{{i[2]}}</td>
                                                <td>{{i[3]}}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


<div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Project W</a> 2023</p>
                <p>Distributed by <a href="https://www.youtube.com/watch?v=0MxulhivCvI" target="_blank">Cs department</a></p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="static/vendor/global/global.min.js"></script>
    <script src="static/js/quixnav-init.js"></script>
    <script src="static/js/custom.min.js"></script>


    <!-- Vectormap -->
    <script src="static/vendor/raphael/raphael.min.js"></script>
    <script src="static/vendor/morris/morris.min.js"></script>


    <script src="static/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="static/vendor/chart.js/Chart.bundle.min.js"></script>

    <script src="static/vendor/gaugeJS/dist/gauge.min.js"></script>

    <!--  flot-chart js -->
    <script src="static/vendor/flot/jquery.flot.js"></script>
    <script src="static/vendor/flot/jquery.flot.resize.js"></script>

    <!-- Owl Carousel -->
    <script src="static/vendor/owl-carousel/js/owl.carousel.min.js"></script>

    <!-- Counter Up -->
    <script src="static/vendor/jqvmap/js/jquery.vmap.min.js"></script>
    <script src="static/vendor/jqvmap/js/jquery.vmap.usa.js"></script>
    <script src="static/vendor/jquery.counterup/jquery.counterup.min.js"></script>


    <script src="static/js/dashboard/dashboard-1.js"></script>

    <!-- Chart ChartJS plugin files -->
    <script src="static/vendor/chart.js/Chart.bundle.min.js"></script>
    <!-- Chart Morris plugin files -->
    <script src="static/vendor/raphael/raphael.min.js"></script>
    <script src="static/vendor/morris/morris.min.js"></script>
    <!-- Chart Chartist plugin files -->
    <script src="static/vendor/chartist/js/chartist.min.js"></script>
    <script src="static/vendor/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>
    <!-- Chart piety plugin files -->
    <script src="static/vendor/peity/jquery.peity.min.js"></script>
    <!-- Chart sparkline plugin files -->
    <script src="static/vendor/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- Easy pie chart plugin files -->
    <script src="static/vendor/easy-pie-chart/jquery.easypiechart.min.js"></script>

    <!-- Chart flot plugin files -->
    <script src="static/vendor/flot/jquery.flot.js"></script>
    <script src="static/vendor/flot/jquery.flot.pie.js"></script>
    <script src="static/vendor/flot/jquery.flot.resize.js"></script>
    <script src="static/vendor/flot-spline/jquery.flot.spline.min.js"></script>

    <script src="static/vendor/amcharts/amcharts.js"></script>
    <script src="static/vendor/amcharts/serial.js"></script>
    <script src="static/vendor/amcharts/plugins/dataloader.min.js"></script>
    <script src="static/vendor/amcharts/plugins/export.min.js"></script>
    <script src="static/vendor/amcharts/ammap.js"></script>
    <script src="static/vendor/amcharts/worldLow.js"></script>
    <script src="static/vendor/amcharts/pie.js"></script>
    <script src="static/vendor/amcharts/amstock.js"></script>


    <script src="static/js/plugins-init/amchart-init.js"></script>
    <script src="static/js/plugins-init/chartjs-init.js"></script>
    <script src="static/js/plugins-init/chartist-init.js"></script>
    <script src="static/js/plugins-init/morris-init.js"></script>
    <script src="static/js/plugins-init/sparkline-init.js"></script>
    <script src="static/js/plugins-init/easy-pie-chart-init.js"></script>
    <script src="static/js/plugins-init/flot-init.js"></script>
    <script src="static/js/plugins-init/piety-init.js"></script>


    <script src="static/vendor/chartist/js/chartist.min.js"></script>

    <script src="static/vendor/moment/moment.min.js"></script>
    <script src="static/vendor/pg-calendar/js/pignose.calendar.min.js"></script>


    <script src="static/js/dashboard/dashboard-2.js"></script>

</body>

</html>