<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.png">
    <link rel="stylesheet" href="/static/vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="/static/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />



</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="/" class="brand-logo">
                <img class="logo-abbr" src="/static/images/logo.png" alt="">
                <img class="logo-compact" src="/static/images/logo-text.png" alt="">
                <img class="brand-title" src="/static/images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
                <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                <div class="dropdown-menu p-0 m-0">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">{{Lmail}} </span>
                                    </a>
                                    <a href="/" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Admin Features</li>
                    <li><a class="has-arrow" href="/chequeBookClearance" aria-expanded="false"><i class="fa-solid fa-money-check"></i><span class="nav-text">Cheque Book Clearance</span></a>
                    <li><a class="has-arrow" href="/fundtransfer/fundtransfer" aria-expanded="false"><i class="fa-solid fa-money-bill-transfer"></i><span class="nav-text">Fund Transfer</span></a>
                    <li><a class="has-arrow" href="/search" aria-expanded="false"><i class="fa-solid fa-database"></i><span class="nav-text">Search Queries</span></a>
                    <li><a class="has-arrow" href="/accblock" aria-expanded="false"><i class="fa-solid fa-lock"></i><span class="nav-text">Account Block</span></a>
                    <li><a class="has-arrow" href="/accunblock" aria-expanded="false"><i class="fa-solid fa-lock-open"></i><span class="nav-text">Account Un-Block</span></a>
                    <li><a class="has-arrow" href="/change" aria-expanded="false"><i class="fa-solid fa-gears"></i><span class="nav-text">Edit Account Details</span></a>
                    <li><a class="has-arrow" href="/new_account/<newacc_val>" aria-expanded="false"><i class="fa-solid fa-file-invoice"></i><span class="nav-text">Account Adding</span></a>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
              <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Search by Phone Number</h4>
                            <span class="ml-1">Change</span>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Form</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Change</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Account Number</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                {% if checkS=='form'%}
                <div class="row">
                    <div class="col-xxl-6 col-xxl-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Search by phone number</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <form action="{{url_for('q8P')}}", method="post">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Phone Number</label>
                                        <div class="col-sm-10">
                                            <input type="number" name="con" class="form-control" placeholder="Enter Contact number" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Confirmation</label>
                                        <div class="col-sm-10">
                                            <input type="password" name="con1" class="form-control" placeholder="Enter Contact number again" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <br>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-xxl-12">

                        {% if checkS1=='change_error'%}
                                <div class="alert alert-danger"><strong>Error!</strong> Phone numbers don't match. Please enter the correct credentials.</div>
                        {% endif %}
                        {% if checkS1=="notThere"%}
                                <div class="alert alert-danger"><strong>Error!</strong> Phone number doesn't exist. Please enter the correct credentials.</div>
                        {% endif %}

                    </div>
                </div>
                {% endif %}
                {% if checkS=='res'%}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Results</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-validation">
                                        <form class="form-valide" action="#" method="post">
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-lg-4 col-form-label" for="val-username">Account Holder

                                                        </label>
                                                        <div class="col-lg-6">
                                                            <input type="text" class="form-control" id="val-username" name="val-username" placeholder="{{Sdf['account_holder']}}" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-4 col-form-label" for="val-password">Account Number

                                                        </label>
                                                        <div class="col-lg-6">
                                                            <input type="text" class="form-control" id="val-email" name="val-email" placeholder="{{Sdf['account_number']}}" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-4 col-form-label" for="val-password">Contact Number

                                                        </label>
                                                        <div class="col-lg-6">
                                                            <input type="text" class="form-control" placeholder="{{Sdf['contact_number']}}" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-4 col-form-label" for="val-password">Balance

                                                        </label>
                                                        <div class="col-lg-6">
                                                            <input type="text" class="form-control"  placeholder="{{Sdf['balance']}}" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-4 col-form-label" for="val-password">DOB

                                                        </label>
                                                        <div class="col-lg-6">
                                                            <input type="text" class="form-control" id="val-email" name="val-email" placeholder="{{Sdf['dob']}}" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-4 col-form-label" for="val-password">Account Status

                                                        </label>
                                                        {% if Sdf['account_status']|length ==14 %}
                                                            <div class="col-lg-6">
                                                                <span class="badge badge-success">Unblocked</span>
                                                                
                                                            </div>
                                                        {% endif %}
                                                        {% if Sdf['account_status']|length > 14 %}
                                                            <div class="col-lg-6">
                                                                <span class="badge badge-danger">Blocked</span>
                                                                <br>
                                                                <br>
                                                                <input type="text" class="form-control" id="val-email" name="val-email" placeholder="{{rsn}}" disabled>
                                                            </div>
                                                        {% endif %}
                                                    </div>

                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label class="col-lg-4 col-form-label" for="val-currency">Account Type
                                                        </label>
                                                        <div class="col-lg-6">
                                                            <input type="text" class="form-control" id="val-currency" name="val-currency" placeholder="{{Sdf['account_type']}}" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-4 col-form-label" for="val-currency">Address
                                                        </label>
                                                        <div class="col-lg-6">
                                                            <input type="text" class="form-control" id="val-currency" name="val-currency" placeholder="{{Sdf['address']}}" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-4 col-form-label" for="val-website">Date of Creation
                                                        </label>
                                                        <div class="col-lg-6">
                                                            <input type="text" class="form-control" id="val-website" name="val-website" placeholder="{{Sdf['date_column']}}" disabled>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>
                <p>Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/static/vendor/global/global.min.js"></script>
    <script src="/static/js/quixnav-init.js"></script>
    <script src="/static/js/custom.min.js"></script>


    <!-- Vectormap -->
    <script src="/static/vendor/raphael/raphael.min.js"></script>
    <script src="/static/vendor/morris/morris.min.js"></script>


    <script src="/static/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/static/vendor/chart.js/Chart.bundle.min.js"></script>

    <script src="/static/vendor/gaugeJS/dist/gauge.min.js"></script>

    <!--  flot-chart js -->
    <script src="/static/vendor/flot/jquery.flot.js"></script>
    <script src="/static/vendor/flot/jquery.flot.resize.js"></script>

    <!-- Owl Carousel -->
    <script src="/static/vendor/owl-carousel/js/owl.carousel.min.js"></script>

    <!-- Counter Up -->
    <script src="/static/vendor/jqvmap/js/jquery.vmap.min.js"></script>
    <script src="/static/vendor/jqvmap/js/jquery.vmap.usa.js"></script>
    <script src="/static/vendor/jquery.counterup/jquery.counterup.min.js"></script>


    <script src="/static/js/dashboard/dashboard-1.js"></script>

</body>

</html>